name: ESP-IDF Build

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  build:
    runs-on: ubuntu-latest
    container:
      image: espressif/idf:v5.5

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          submodules: true

      - name: Build firmware
        run: |
          idf.py set-target esp32c3
          idf.py build

      - name: Upload firmware binaries
        if: success()
        uses: actions/upload-artifact@v4
        with:
          name: firmware-bin
          path: build/*.bin
